<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" verbose="2" parallel="false">

    <!-- تفعيل الـ Listener -->
    <listeners>
        <listener class-name="Utils.MyTestListener"/>
    </listeners>

    <test name="Registration Tests">
        <classes>
            <class name="tests.teststry.WeakPasswordTest"/>
            <class name="tests.teststry.InvalidEmailTest"/>

        </classes>

        </classes>
    </test>

</suite>
